<div class="nav-masthead bg-white fixed-top">
        <nav class="nav">
          <span class="brand-logo"><img src="images/ebryx-logo.png" width="118" height="27" alt="Ebryx" title="Ebryx" /></span>
          <a class="nav-link active" href="home.html">Home</a>
          <a class="nav-link" href="users.html">Users</a>
        </nav>
    </div>

<div class="container-fluid">
	<div class="content-container table-responsive">
		<div><h2 class="heading">Add task</h2></div>     
		<div class="add-form">
			<form>       
			    <div class="form-group">
			     	<label for="title">Title</label>         
			   		<input type="text" class="form-control" id="title" placeholder="Task name">
			    </div>
				<div class="form-group">
					<label for="hour">Hour</label>  
			        <input type="text" class="form-control" id="hour" placeholder="Hours">
			    </div>
			    <div class="form-group">
					<label for="due-date">Due Date</label>        
			    	<input type="date" class="form-control" id="due-date" placeholder="dd/mm/yyyy">
			    </div>         
			 	<div class="form-group">
			   		<label for="description">Description</label>
					<textarea class="form-control" id="description" rows="5"></textarea>
			    </div>
			    <div class="form-group">
			     <label for="assigned-to">Assigned To</label> 
			     <select class="form-control custom-select">        
			     	<option value="1" selected>Iqbal Mehmood</option>       
			      	<option value="2">Rashid Hussain</option>
				  	<option value="3">Majeed Ahmad</option>       
			     </select>  
				</div>
			    <div class="form-group">
					<label for="members">Status</label>           
			 		<select class="form-control custom-select">  
			           <option value="1" selected>New</option>           
			   		   <option value="2">In Progress</option>     
			           <option value="3">Done</option>      
			      	</select>
			    </div>
			    <div class="form-group documents">
			        <label for="document">Documents</label>
					<input type="file" class="form-control-file" id="document1" aria-describedby="fileHelp">         
			   		<span class="icon-1"><i class="fa fa-plus blue" aria-hidden="true"></i></span>
			        <input type="file" class="form-control-file" id="document2" aria-describedby="fileHelp">       
			     	<span class="icon-2"><i class="fa fa-plus blue" aria-hidden="true"></i></span>           
			 		<span class="icon-3"><i class="fa fa-times red" aria-hidden="true"></i></span>
			    </div>
			    <div class="form-group">
			   		<button type="button" class="btn btn-primary pull-right">Submit</button>   
			        <button type="button" class="btn btn-link pull-right">Cancel</button>
			    </div>
			    <div class="clearfix"></div>      
		  	</form>
		  </div>
  	</div>
</div>