<% include app/templates/nav %>
<div class="container-fluid">
	<div class="content-container">
		<div><h2 class="heading">Add Project</h2></div>     
		<div class="add-form">
		<form id="add-project-form">       
		    <div class="form-group">
		     	<label for="title">Title</label>         
		   		<input type="text" class="form-control" id="title" name="title" placeholder="Project name">
		    </div>       
		 	<div class="form-group">
		   		<label for="description">Description</label>
				<textarea class="form-control" id="description" name="description" rows="5"></textarea>
		    </div>
		    <div class="form-group">
		     	<label for="team-lead">Team lead</label>         
		   		<input type="text" class="form-control" id="teamLead" name="teamLead" placeholder="Team lead" value="Iqbal Mehmood">
		    </div>
		    <div class="form-group">            
		    <label for="members">Members</label>	
            <select multiple class="form-control" name="members" size="5">
              <option>Iqbal Mehmood</option>
              <option>Salman Khan</option>
              <option>Saqib Dogar</option>
              <option>Software Engineer</option>
              <option>Kabir Sagheer</option>
            </select>
          </div>
		    <div class="form-group documents">
		        <label for="document">Documents</label>
				<input type="file" class="form-control-file" id="document1" name="document1" aria-describedby="fileHelp">         
		   		<span class="icon-1"><i class="fa fa-plus blue" aria-hidden="true"></i></span>
		        <input type="file" class="form-control-file" id="document2" name="document2" aria-describedby="fileHelp">       
		     	<span class="icon-2"><i class="fa fa-plus blue" aria-hidden="true"></i></span>           
		 		<span class="icon-3"><i class="fa fa-times red" aria-hidden="true"></i></span>
		    </div>
		    <div class="form-group">
		   		<button type="button" class="btn btn-primary pull-right">Submit</button>   
		        <button type="button" class="btn btn-link pull-right">Cancel</button>
		    </div>
		    <div class="clearfix"></div>      
	  	</form>
	  </div>
  	</div>
</div>