<div class="nav-masthead bg-white fixed-top">
    <nav class="nav">
      <span class="brand-logo"><img src="images/ebryx-logo.png" width="118" height="27" alt="Ebryx" title="Ebryx" /></span>
      <a class="nav-link active" id="home" href="javascript:void(0);">Home</a>
      <a class="nav-link" id="user" href="javascript:void(0);">Users</a>
      <a class="nav-link" id="logout" href="javascript:void(0);">Logout</a>
    </nav>
</div>