<% include app/templates/nav %>

    <div class="container-fluid">
      <div class="content-container">
        <h2>Project xyz</h2>
        <span class="pull-right task-link no-print"><a href="javascript:void(0);">Add New Task</a></span>
         <div class="row">
          <div class="col-md-4 col-sm-6 col-lg-3">
             <div class="card">
              <h3 class="card-header">New</h3>
              <div class="card-block">
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user no-print" aria-hidden="true"></i><span class="assignee">Muhammad Kashif</span></div>
                </div>                
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user no-print" aria-hidden="true"></i><span class="assignee">Muhammad Kashif</span></div>
                </div> 
              </div>
            </div> 
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
             <div class="card">
              <h3 class="card-header">In Progress</h3>
              <div class="card-block">
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user no-print" aria-hidden="true"></i><span class="assignee">Muhammad Kashif</span></div>
                </div>
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user no-print" aria-hidden="true"></i><span class="assignee">Muhammad Kashif</span></div>
                </div>                
              </div>
            </div> 
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
             <div class="card">
              <h3 class="card-header">Done</h3>
              <div class="card-block">
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user no-print" aria-hidden="true"></i><span class="assignee">Muhammad Kashif</span></div>
                </div>
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user no-print" aria-hidden="true"></i><span class="assignee">Muhammad Kashif</span></div>
                </div>                
              </div>
            </div> 
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
             <div class="card">
              <h3 class="card-header">Backlog</h3>
              <div class="card-block">
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user-plus no-print" aria-hidden="true"></i></div>
                </div>
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user-plus no-print" aria-hidden="true"></i></div>
                </div>
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user-plus no-print" aria-hidden="true"></i></div>
                </div>
                <div class="card-block-content">
                   <div class="task-title"><a href="javascript:void(0);">Front end Development</a></div>
                   <div class="pull-right"><i class="fa fa-user-plus no-print" aria-hidden="true"></i></div>
                </div>                
              </div>
            </div> 
          </div>
        </div>
      </div>
  </div>