<div class="nav-masthead bg-white fixed-top">
        <nav class="nav">
          <span class="brand-logo"><img src="images/ebryx-logo.png" width="118" height="27" alt="Ebryx" title="Ebryx" /></span>
          <a class="nav-link active" id="home" href="javascript:void(0);">Home</a>
          <a class="nav-link" id="user" href="javascript:void(0);">Users</a>
        </nav>
    </div>

<div class="container-fluid">
	<div class="content-container">
		<div><h2 class="heading">Task detail</h2></div>     
		<div class="add-form table-responsive">
		<form class="list-group">       
		    <div class="form-group">
		     	<label class="heading">Title: </label>         
		   		<label class="detail">Task 1</label>
		    </div>
			<div class="form-group">
				<label class="heading">Hour: </label>  
				<label class="detail">2 hours</label>		        
		    </div>
		    <div class="form-group">
				<label class="heading">Due Date: </label>        
				<label class="detail">2017-01-01</label>		    	
		    </div>         
		 	<div class="form-group">
		   		<label class="heading">Description: </label>
		   		<label class="detail">test description</label>				
		    </div>
		    <div class="form-group">
		     <label class="heading">Assigned To: </label> 
		     <label class="detail">Iqbal Mehmood</label>		     
			</div>
		    <div class="form-group">
				<label class="heading">Status: </label>   
				<label class="detail">New</label>        		 		
		    </div>
		    <div class="form-group documents">
		        <label class="heading">Documents: </label>
		        <label class="detail">etc.pdf, etc.ppt</label>
		    </div>		    				    
		</form>
		<!-- comments threat here -->
		<div class="comments">
			<h4 class="heading">Task History</h4>
			<hr>
  			<div class="form-group">
		   		<label class="heading">Comments: </label>
				<textarea class="form-control" id="comments" name="comments" rows="5"></textarea>
			</div>			
			<div class="form-group">
		   		<button type="button" class="btn btn-primary">Submit</button>   		        
		    </div>
		    <div class="clearfix"></div>      
			<div class="card">
			  <div class="card-block">
			    <div class="author">Muhammad Kashif</div>
			    <div class="text-muted datetime">2017-01-01 @ 6:30 pm</div>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>			    
			  </div>
			</div>
			<div class="card">
			  <div class="card-block">
			    <div class="author">Muhammad Kashif</div>
			    <div class="text-muted datetime">2017-01-01 @ 6:30 pm</div>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>			    
			  </div>
			</div>
			<div class="card">
			  <div class="card-block">
			    <div class="author">Muhammad Kashif</div>
			    <div class="text-muted datetime">2017-01-01 @ 6:30 pm</div>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>			    
			  </div>
			</div>
			<div class="card">
			  <div class="card-block">
			    <div class="author">Muhammad Kashif</div>
			    <div class="text-muted datetime">2017-01-01 @ 6:30 pm</div>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>			    
			  </div>
			</div>
			<div class="card">
			  <div class="card-block">
			    <div class="author">Muhammad Kashif</div>
			    <div class="text-muted datetime">2017-01-01 @ 6:30 pm</div>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>			    
			  </div>
			</div>
		</div>		
		</div>
	  	</div>
  	</div>
</div>